body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f7f7f7;
    position: relative;
}
p {
    font-size: 16px;
    line-height: 1.5;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.generators {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.HyperMain {
    display: none;
    /*rest of hyper mainframe*/
}
.HyperUpgrades {
    /*Hyper Upgrades*/
    margin-top: 20px;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(172, 43, 43);
    p {
        color: rgb(221, 64, 64);
    };
    button {
        color:#ff0c0c;
    }
    /*rest of hyper upgrades*/
}
.notification {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgba(0, 255, 0, 0.8);
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 999;
    display: block;
    animation: fadeInOut 2s forwards;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}